.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #6382f3;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 0 0 20px 20px;
  font-family: 'Montserrat', sans-serif;

}

/* .font-link {
  font-family: 'Montserrat', sans-serif;
} */

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.Message-content {
  display: inline-block;
}

.currentMember>.Message-content {
  align-items: flex-end;
}

.Messages-message>.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
  font-family: 'Montserrat', sans-serif;
}

.Message-content>.username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
}

.Message-content>.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 0 12px 12px 12px;
  background-color: #e9ecfa;
  color: rgb(61, 61, 61);
  display: inline-block;
}

.currentMember>.Message-content .text {
  background-color: #6382f3;
  color: #fff;
  border-radius: 12px 0 12px 12px;
  text-align: left;

}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #e9ecfa;
  background-color: e9ecfa;
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 5px 50px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #6382f3;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 15%;
  height: auto;
  padding: 2% 0;
}